* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
}

/* NAVBAR */

.navbar {
  background-color: #1e293b;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* CONTAINER */

.container {
  padding: 50px;
}

.container h1 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 30px;
  color: #555;
}

/* CARDS */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 12px;

  text-decoration: none;
  color: black;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #e0f2fe;
}

.card h2 {
  margin-bottom: 10px;
}